"*":
  welcome:
    showOnStartup: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "whitespace"
      "jshint"
      "atom-jshint"
    ]
    packagesWithKeymapsDisabled: [
      "tree-view"
    ]
  editor:
    invisibles:
      eol: " "
    showInvisibles: true
    tabLength: 4
    scrollPastEnd: true
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?…"
    tabType: "hard"
    scrollSensitivity: 50
    lineHeight: 1.25
  "git-blame": {}
  "atom-beautify":
    _analyticsUserId: "5e59d25f-4cba-44ca-955b-340734c92e88"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
    liveSearchMinimumCharacters: 2
  "one-dark-ui":
    layoutMode: "Compact"
  "bracket-matcher":
    autocompleteSmartQuotes: false
    autocompleteBrackets: false
  "disable-keybindings":
    prefixKeys: [
      "ctrl-k"
    ]
  "highlight-selected":
    ignoreCase: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "tree-view-open-files":
    maxHeight: 540
  "status-bar": {}
  "autocomplete-plus": {}
  "exception-reporting":
    userId: "c2534162-1992-fab9-5886-f28e255e051f"
  "atom-jshint": {}
  aligner:
    ",-rightSpace": false
    ":-alignment": "left"
    ":-leftSpace": true
  linter:
    showErrorTabLine: true
  "linter-jscs":
    preset: "node-style-guide"
    onlyConfig: true
    configPath: ".jscs.json"
    fixOnSave: true
  "linter-jshint":
    lintInlineJavaScript: true
