'.platform-darwin, .platform-win32, .platform-linux':
  'ctrl-g': 'find-and-replace:find-next'
  'ctrl-shift-g': 'find-and-replace:find-previous'
  'ctrl-k': 'editor:delete-line'
'.editor:not([mini])':
  'ctrl-d': 'aligner:align'
  